<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.colsam.csagents" versionCode="100" version="1.0.0">
<name>CS AGENTS</name>
<description>App Vendite Colorificio Sammarinese</description>
<gap:plugin name="cordova-sqlite-storage" source="npm" />
<gap:plugin name="cordova-plugin-file-opener2" source="npm" version="2.0.0" />
<gap:platform name="android" />
<gap:platform name="ios" />
<gap:platform name="winphone" />
<icon src="icon.png" />
<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />
<icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />
<gap:splash src="splash.png" />
<gap:splash src="splash/ios/Retina.png" gap:platform="ios" width="640" height="960" />
<gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
<gap:splash src="splash/ios/iPhone5.png" gap:platform="ios" width="640" height="1136" />
<gap:splash src="splash/ios/Default-Portrait_2x.png" gap:platform="ios" width="2048" height="1536" />
<gap:plugin name="com.phonegap.plugins.barcodescanner" />
<gap:plugin name="com.pushwoosh.plugins.pushwoosh" />
<gap:plugin name="com.adobe.plugins.gaplugin" />
<gap:plugin name="nl.x-services.plugins.calendar" />
<gap:plugin name="com.chariotsolutions.nfc.plugin" />
<gap:plugin name="nl.x-services.plugins.sslcertificatechecker" />
<preference name="phonegap-version" value="3.7.0" />
<platform name="winphone">
<preference name="fullscreen" value="true" />
</platform>
<gap:plugin name="com.phonegap.plugin.statusbar" />
<preference name="StatusBarOverlaysWebView" value="false" />
<preference name="SplashScreenDelay" value="20000" />
<preference name="auto-hide-splash-screen" value="false" />
<preference name="AutoHideSplashScreen" value="false" />
<preference name="AndroidPersistentFileLocation" value="Compatibility" />
<feature name="http://api.phonegap.com/1.0/battery"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<feature name="http://api.phonegap.com/1.0/device"/>
<gap:plugin name="cordova-plugin-battery-status" source="npm" />
<gap:plugin name="cordova-plugin-camera" source="npm" />
<gap:plugin name="cordova-plugin-media-capture" source="npm" />
<gap:plugin name="cordova-plugin-contacts" source="npm" />
<gap:plugin name="cordova-plugin-device" source="npm" />
<gap:plugin name="cordova-plugin-file" source="npm" />
<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
<gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.1.0" />
<gap:plugin name="cordova-plugin-geolocation" source="npm" />
<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
<gap:plugin name="cordova-plugin-media" source="npm" />
<gap:plugin name="cordova-plugin-network-information" source="npm" />
<gap:plugin name="cordova-plugin-dialogs" source="npm" />
<gap:plugin name="cordova-plugin-vibration" source="npm" />
<access origin="*" launch-external="yes" subdomains="true"/>
</widget>